# Ensure all text files have their line endings normalized
* text=auto

# Unity YAML files
*.anim text eol=lf
*.asset text eol=lf
*.mat text eol=lf
*.meta text eol=lf
*.prefab text eol=lf
*.unity text eol=lf

# Treat these file types as binary
*.wav binary
*.mp3 binary
*.aif binary
*.aiff binary
*.ogg binary

# Apply existing settings for LFS and other files
*.aif lfs
*.aiff lfs
*.mod lfs
*.ogg lfs
*.s3m lfs
*.xm lfs
*.mov lfs
*.avi lfs
*.mpg lfs
*.mpeg lfs
*.mp4 lfs
*.3ds lfs
*.fbx lfs
*.obj lfs
*.ttf lfs
*.otf lfs
*.dll lfs
*.exe lfs
*.zip lfs
*.7z lfs
*.gz lfs
*.rar lfs
*.tar lfs
